@import "tailwindcss";

@theme {
  /* Colors */
  --color-tertiary: #151819;
  --color-on-secondary: #ffffff;
  --color-primary: #001736;
  --color-secondary: #775a19;
  
  /* ... add the rest of your colors following this pattern --color-[name] */
 --color-tertiary: #151819,
                    "on-secondary": "#ffffff",
                    "on-surface-variant": "#43474f",
                    "on-secondary-fixed": "#261900",
                    "on-background": "#181c20",
                    "on-tertiary": "#ffffff",
                    "surface": "#f7f9ff",
                    "surface-bright": "#f7f9ff",
                    "tertiary-fixed-dim": "#c5c7c8",
                    "on-surface": "#181c20",
                    "on-secondary-container": "#785a1a",
                    "on-primary-fixed": "#001b3e",
                    "error": "#ba1a1a",
                    "outline": "#747780",
                    "secondary": "#775a19",
                    "surface-variant": "#e0e3e8",
                    "error-container": "#ffdad6",
                    "on-tertiary-container": "#919394",
                    "on-primary-fixed-variant": "#264779",
                    "surface-container-lowest": "#ffffff",
                    "surface-tint": "#3f5f92",
                    "inverse-on-surface": "#eef1f6",
                    "inverse-surface": "#2d3135",
                    "secondary-container": "#fed488",
                    "surface-dim": "#d7dadf",
                    "tertiary-container": "#292c2d",
                    "secondary-fixed": "#ffdea5",
                    "surface-container": "#ebeef3",
                    "surface-container-highest": "#e0e3e8",
                    "on-tertiary-fixed-variant": "#454748",
                    "inverse-primary": "#aac7ff",
                    "on-error": "#ffffff",
                    "on-error-container": "#93000a",
                    "primary-fixed": "#d6e3ff",
                    "tertiary-fixed": "#e1e3e4",
                    "on-tertiary-fixed": "#191c1d",
                    "background": "#f7f9ff",
                    "surface-container-low": "#f1f4f9",
                    "on-primary-container": "#7594cb",
                    "primary-fixed-dim": "#aac7ff",
                    "on-primary": "#ffffff",
                    "primary-container": "#002b5c",
                    "primary": "#001736",
                    "outline-variant": "#c4c6d0",
                    "surface-container-high": "#e5e8ee",
                    "on-secondary-fixed-variant": "#5d4201",
                    "secondary-fixed-dim": "#e9c176"




  /* Border Radius */
  --radius-default: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;

  /* Spacing */
  --spacing-margin-mobile: 16px;
  --spacing-section-padding: 80px;
  --spacing-container-max: 1200px;

  /* Fonts */
  --font-headline-md: "Noto Serif", serif;
  --font-body-md: "Manrope", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
   
}


.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400-800;
  font-style: normal;
}